<div class="col col-md-6 offset-md-3">
  <div class="admin-box1 center">
    運動カテゴリ登録
  </div>

  <div class="admin-box1">
    <%= button_tag '登録', class: "btn btn-sm btn-primary w-100px", form: "exercise_category-btn" %>
    <%= link_to '一覧へ戻る', exercise_categories_path, class: "btn btn-sm btn-secondary" %>
  </div>


  <div class="admin-box1">
    <%= render 'form' %>
  </div>
</div>

<!--
<div class= "exercise_category">
  <div class="row">
    <div class="col-md-8">
      <= render 'form' %>
    </div>
  </div>
</div>
-->
