
<div class="box1">
  <div class="row">
    <div class="col-md-1 offset-md-11 align-self-center">
      <%= link_to(user_myfoods_path(current_user, recipe_id: params[:recipe_id], timezone_id: params[:timezone_id], start_time: params[:start_time], start_date: params[:start_date]), class: "text-original") do %>
        <i class="far fa-plus-square fa-2x"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="box1">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped sample">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

