<h1>Admins#show</h1>
<p>Find me in app/views/admins/show.html.erb</p>
<div><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></div>
<div>ログインしているユーザー<%= current_admin.username %></div>
<div><%= link_to "ユーザー情報変更", edit_admin_registration_path %></div>
