
@media screen and (min-width: 1024px) {
  
  .bodyweights_flame{
    padding-left: 20%;
    text-align: center;
  }
  .bodyweights_box input[type="number"]{
    width: 300px;
    height: 40px;
  }
  .bodyweight-chart{
    padding-left: 32%;
  }
}

@media screen and (max-width: 428px) {
  
  
}
