.calender-icon{
	margin-left: 60%;
}

/* 枠 */
.calendar {
	font-size: 20px;
	position: relative;
	width: 1.6em;
	height: 1.2em;
	border: 0.1em solid #274277;
	border-radius: 0.1em;
	box-shadow: inset 0 0.3em 0 0 #274277;
}
/* リング */
.calendar::before {
	content: "";
	position: absolute;
	top: -0.4em;
	left: 0.2em;
	width: 0.2em;
	height: 0.5em;
	border-radius: 0.1em;
	background-color: #274277;
	box-shadow:
		0 0 0 0.1em #fff,
		0.8em 0 0 0 #274277,
		0.8em 0 0 0.1em #fff
	;
}
/* 日付 */
.calendar::after {
	content: "";
	position: absolute;
	top: 0.4em;
	left: 0.15em;
	width: 0.2em;
	height: 0.2em;
	background-color: #274277;
	box-shadow:
		0.3em 0 0 0 #274277,
		0.6em 0 0 0 #274277,
		0.9em 0 0 0 #274277,
		0 0.3em 0 0 #274277,
		0.3em 0.3em 0 0 #274277,
		0.6em 0.3em 0 0 #274277,
		0.9em 0.3em 0 0 #274277
	;
}