@import "bootstrap";

// 共通設定
body,
html {
  margin: 0;
  padding: 0;
}


//全体
.top {
  background-color: aquamarine;
}

.alert,.notice {
  position: absolute;
  margin-left: 25%;
}

.alert-fleam {
  margin-left: 20%;
  text-align: center;
}

//side menu
.side-menu {
  position: fixed;
  z-index: inherit;
}

// debug(params)
.debug_dump {
  clear: both;
  float: left;
  width: 70%;
  margin-top: 45px;
  margin-left: 25%;
  padding: 5px 0 5px 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 3px red; 
}

// 画面サイズ1024ピクセル以上用
@media screen and (min-width: 1024px) {
  // Topページ
  .top {
    margin-left: 20%;

    h1 {
      text-align: center;
      color: blueviolet;
      padding-top: 10px;
      font-family: serif;
      font-size: 5em;
    }

    // ボタン位置設定
    #top-btn {
      text-align: center;
      padding-top: 30em;
    }
    // ボタン画像設定
    .top-btn-img {
      width: 20%;
      height: 20%;
    }

    label {
      font-size: 3em;
      font-family: serif;
    }

    // ボタン間隔設定
    .new-top-btn {
      padding-left: 10%;
    }
  }

  // side menu
  .side-menu {
    width: 20%;
    height: 100%;
    background-color: bisque;

    .body-name {
      font-size: 40px;
      text-align: center;
    }

    .menu-link {
      font-size: 25px;
      text-align: center;
      padding-top: 30px;
    }

    .menu-link span {
      display: block;
    }

    .menu {
      margin-left: 20%;
      margin-right: 25%;
      line-height: 2em;
      width: 60%;
    }
  }

  //ユーザー画面
  .user-show {
    margin-left: 50%;
  }

  // 目標設定(show)
  .weight-new, .bmr-new {
    width: 50%;
    margin-left: 25%;
    h1 {
      font-size: 5em;
      font-family: serif;
    }
    .label {
      margin-top: 10px;
    }
    .form-control {
      margin-bottom: 10px;
    }
    .btn-setup {
      margin-top: 30px; 
      line-height: 20px;
    }
  }
}

// 画面サイズ428ピクセル以上1024ピクセル未満用
@media screen and (min-width: 428px) and (max-width: 1023px) {
  // Topページ
  .top {
    height: 1023px;

    h1 {
      text-align: center;
      color: blueviolet;
      font-size: 4em;
    }

    // ボタン位置設定
    #top-btn {
      text-align: center;
      padding-top: 40%;
    }

    // ボタン画像設定
    .top-btn-img {
      width: 20%;
      height: 20%;
    }
    label {
      font-size: 2em;
    }

    // ボタン間隔設定
    .new-top-btn {
      padding-left: 10%;
    }
  }

  // side-menu
  .side-menu {
    background-color: bisque;
    width: 100%;
    bottom: 0;
    margin-top: 85%;
  }

  .menu-link {
    font-size: 25px;
    text-align: center;
    padding-bottom: 1em;
  }

  .menu {
    padding-left: 20px;
    width: 30%;
  }
}

// 画面サイズ500ピクセル以下用
@media screen and (max-width: 428px) {
  // Topページ
  .top {
    height: 768px;

    h1 {
      text-align: center;
      font-size: 1.8em;
      color: blueviolet;
    }

    // ボタン位置設定
    #top-btn {
      text-align: center;
      padding-top: 60%;
    }

    // ボタン画像設定
    .top-btn-img {
      width: 15%;
      height: 15%;
    }

    // ボタン間隔設定
    .new-top-btn {
      padding-left: 10%;
    }
  }

  // side-menu
  .side-menu {
    background-color: bisque;
    width: 100%;
    bottom: 0;
    margin-top: 100%;
  }

  .menu-link {
    font-size: 10px;
    text-align: center;
    padding-bottom: 1em;
  }

  .menu {
    padding-left: 5px;
    width: 30%;
  }
}

/*------------------------------------
- COLOR original (サイトイメージカラー)
------------------------------------*/

$original_t1: #274277;
$original_t2: #1a2c50;
$original_t3: #6c8ecf;
$original_t4: #809cd5;
$original_t5: #080e1a;
$original_t6: #162645;
$original_t7: #1e335c;
$original_t8: #000000;
$original_t9: #8fa8da;

$original_shadow: rgba(39, 66, 119, 0.5);
$original_text_color_dark_bright: #fff;


.alert-original {
  color: $original_t5;
  background-color: $original_t9;
  border-color: $original_t4;
}

.alert-original hr {
  border-top-color: $original_t3;
}

.alert-original .alert-link {
  color: $original_t8;
}

.badge-original {
  color: $original_text_color_dark_bright;
  background-color: $original_t1;
}

.badge-original[href]:hover, .badge-original[href]:focus {
  color: $original_text_color_dark_bright;
  background-color: $original_t2;
}

.bg-original {
  background-color: $original_t1 !important;
}

a.bg-original:hover, a.bg-original:focus,
button.bg-original:hover,
button.bg-original:focus {
  background-color: $original_t2 !important;
}

.border-original {
  border-color: $original_t1 !important;
}

.btn-original {
  color: $original_text_color_dark_bright;
  background-color: $original_t1;
  border-color: $original_t1;
}

.btn-original:hover {
  color: $original_text_color_dark_bright;
  background-color: $original_t7;
  border-color: $original_t2;
}

.btn-original:focus, .btn-original.focus {
  box-shadow: 0 0 0 0.2rem $original_shadow;
}

.btn-original.disabled, .btn-original:disabled {
  color: $original_text_color_dark_bright;
  background-color: $original_t1;
  border-color: $original_t1;
}

.btn-original:not(:disabled):not(.disabled):active, .btn-original:not(:disabled):not(.disabled).active, .show > .btn-original.dropdown-toggle {
  color: $original_text_color_dark_bright;
  background-color: $original_t2;
  border-color: $original_t6;
}

.btn-original:not(:disabled):not(.disabled):active:focus, .btn-original:not(:disabled):not(.disabled).active:focus, .show > .btn-original.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $original_shadow;
}

.btn-outline-original {
  color: $original_t1;
  background-color: transparent;
  border-color: $original_t1;
}

.btn-outline-original:hover {
  color: $original_text_color_dark_bright;
  background-color: $original_t1;
  border-color: $original_t1;
}

.btn-outline-original:focus, .btn-outline-original.focus {
  box-shadow: 0 0 0 0.2rem $original_shadow;
}

.btn-outline-original.disabled, .btn-outline-original:disabled {
  color: $original_t1;
  background-color: transparent;
}

.btn-outline-original:not(:disabled):not(.disabled):active, .btn-outline-original:not(:disabled):not(.disabled).active, .show > .btn-outline-original.dropdown-toggle {
  color: $original_text_color_dark_bright;
  background-color: $original_t1;
  border-color: $original_t1;
}

.btn-outline-original:not(:disabled):not(.disabled):active:focus, .btn-outline-original:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-original.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $original_shadow;
}

.list-group-item-original {
  color: $original_t5;
  background-color: $original_t4;
}

.list-group-item-original.list-group-item-action:hover, .list-group-item-original.list-group-item-action:focus {
  color: $original_t5;
  background-color: $original_t3;
}

.list-group-item-original.list-group-item-action.active {
  color: $original_text_color_dark_bright;
  background-color: $original_t5;
  border-color: $original_t5;
}

.table-original,
.table-original > th,
.table-original > td {
  background-color: $original_t4;
}

.table-hover .table-original:hover {
  background-color: $original_t3;
}

.table-hover .table-original:hover > td,
.table-hover .table-original:hover > th {
  background-color: $original_t3;
}

.text-original {
  color: $original_t1 !important;
}

a.text-original:hover, a.text-original:focus {
  color: $original_t2 !important;
}
