//運動カテゴリー画面
.exercise_category {
  margin-left: 30%;
}

.exercise_category-title {
  margin: 20px 0 20px 0;
}

.exercise_category-form {
  margin-bottom: 20px;
}

.exercise_content-form {
  margin-bottom: 3px;
}

.add-exercise_content-form {
  margin-top: 7px;
}

.add-exercise_content-button {
  color: #fff;
  text-decoration: none;
  font-size:larger;
  font-weight: 900;
}

.add-exercise_content-button:hover {
  color: #fff;
  text-decoration: none;
}

