
//header-bg-color
.header {
  background-color: #CCFFFF;
  border-bottom: solid 2px #274277;
  border-top: solid 2px #274277;
}

//header-bg-color admin
.admin-header {
  background-color: #000;
}

// ドロップダウンの文字色
  
.dropdown b {
  color: #274277;
}

#logo {
    float: left;
    margin-right: 10px;
    color: #274277;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    text-shadow: 2px 3px 3px #8fa8da;
  }

// 画面サイズ1024ピクセル以上用
@media screen and (min-width: 1024px) {
  
  // ロゴデザイン
  
  #logo {
    font-size: 1.7em;
  }
  
  #logo:hover {
    color: #8fa8da;
    text-decoration: none;
  }
  
}

// 画面サイズ428ピクセル以上1024ピクセル未満用
@media screen and (min-width: 428px) and (max-width: 1023px) {
  
  #logo {
    font-size: 1em;
  }
  
}

// 画面サイズ500ピクセル以下用
@media screen and (max-width: 428px) {
  
  #logo {
    font-size: 1em;
  }
  
}


