// 画面サイズ1024ピクセル以上用
@media screen and (min-width: 1024px) {
  
  .simple-calendar {
    .day {}
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {}
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {}
    .next-month { }
    .current-month {}
  
    .has-events {}
  }
  
  .simple-calendar{
    width: 100%;
  }
  .calendar-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: x-large;
  }
  
}

// 画面サイズ428ピクセル以上1024ピクセル未満用
@media screen and (min-width: 428px) and (max-width: 1023px) {
  .simple-calendar{
    width: 100%;
  }
  .calendar-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: x-large;
  }
}

@media screen and (max-width: 428px) {
  
  .simple-calendar{
    width: 100%;
  }
  .calendar-heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: x-large;
  }
  
}


