

.tab-area {
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
  cursor: pointer;
  .tab {
    flex-grow: 1;
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: ccc;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
  }
  .tab.active {
    background-color: #274277;
    color: #fff;
    border: none;
  }
}
.content-area {
  text-align: center;
  .content {
    display: none;
  }
  .content.show {
    margin-top: 50px;
    display: block;
  }
}