td, th {
            padding: 5px 10px;
        }
 
        thead th {
            background: #274277;
            color: #fff;
        }
 
        tbody tr {
            border-bottom: 1px dotted #D8D5D5;
        }
 
        tbody td {
            border: 1px dotted #D8D5D5;
            border-width: 0px 1px;
            -webkit-transition: background-color .1s linear;
            -moz-transition: background-color .1s linear;
            transition: background-color .1s linear;
        }
 
        tbody tr:first-child {
            border-top: none;
        }
 
        tbody tr.even td {
            background: #fbfbfb;
        }
 
        tbody tr.clickable:hover td {
            background: #ecf2fa;
            cursor: pointer;
        }