// Place all the styles related to the today_tranings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box2{
  border: 2px solid #274277;
  border-radius: 5px;
  position: relative;
  margin-top: 1em;
}
.box2 h3{
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: -0.5em;
}
.box2 span{
  padding: 0 .5em;
  background: #FFF;
  color: #274277;
}
.box2 .inner{
  padding: 2em 0em 0em;
}