<% provide(:title, "基本設定編集") %>
<% provide(:btn_text, "編集") %>

<%= render "layouts/setting_tab" %>

<div class="box1">
  <div class="box-inner">
    <h5>基本設定変更</h5>
    <%= form_with(model: [@user, @bmr], url: user_bmr_path(switching: params[:switching], start_time: params[:start_time], start_date: params[:start_date]), local: true) do |f| %>
    
      <%= render partial: "form", locals: { f: f }%>
      
    <% end %>
  </div>
</div>