<%= provide(:title, "TOP") %>
<div class= "top">
  <h1>ボディメイク管理システム</h1>
  <div id= "top-btn">
    <span class= "login-top-btn">
      <label>Login</label>
      <%= link_to (image_tag "login.png", size: '60x60', class: "top-btn-img"), "#" %>
    </span>
    <span class= "new-top-btn">
      <label>新規登録</label>
      <%= link_to (image_tag "hiyoko-touroku.png", size: '60x60', class: "top-btn-img"), "#" %>
    </span>
  </div>
</div>