<%= provide(:title, "TOP") %>
<div class= "top">
<%= javascript_pack_tag "hello_vue" %>
  <h1>ボディメイク管理システム</h1>
  <div id= "top-btn">
    <span class= "login-top-btn">
      <label>Login</label>
      <%= link_to (image_tag "login.png", size: '60x60', class: "top-btn-img"), new_user_session_path %>
    </span>
    <span class= "new-top-btn">
      <label>新規登録</label>
      <%= link_to (image_tag "hiyoko-touroku.png", size: '60x60', class: "top-btn-img"), new_user_registration_path %>
    </span>
  </div>
</div>