<% provide(:title, "目標編集") %>
<% provide(:btn_text, "編集") %>

<%= render "layouts/setting_tab" %>

<div class="form-box1">
  <div class="box-inner">
    <h5>目標編集</h5><br>
    <%= form_with(model:[@user, @tw], url: user_targetweight_path(switching: params[:switching], start_date: params[:start_date], start_time: params[:start_time]), local: true) do |f| %>

      <%= render partial: "form", locals: { f: f }%>

    <% end %>
  </div>
</div>