<% provide(:title, "目標設定") %>
<% provide(:btn_text, "登録") %>

<div class="bg_pattern Paper_v2"></div>
<div class="section">
  <div class="login-box1">
    <div class="box-inner">
      <h1>目標設定</h1>
      <%= form_with(model:[@user, @tw], url: user_targetweights_path(start_date: params[:start_date], start_time: params[:start_time]), local: true) do |f| %>
        <%= render partial: "form", locals: { f: f }%>
        
        <%= f.submit yield(:btn_text), class: "btn btn-md btn-original btn-block" %>
      <% end %>
    </div>
  </div>
</div>
