<% provide(:title, "食品追加") %>
<% provide(:btn_text, "追加") %>

<div class="box1">
  <%= form_with(model: @myfood, url: user_myfoods_path(@user, id: params[:id], before: params[:before], recipe_id: params[:recipe_id], timezone_id: params[:timezone_id], start_date: params[:start_date], start_time: params[:start_time]), method: :post, local: true) do |f| %>
    
    <%= render partial: "form", locals: { f: f }%>
    
  <% end %>
</div>

