
.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 25px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
      vertical-align: middle;
}
    
.round-arrow-left::before{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #274277;
}
.round-arrow-left::after{
      right: 8px;
      box-sizing: border-box;
      width: 3px;
      height: 3px;
      border: 3px solid transparent;
      border-right: 5px solid #fff;
}
.round-arrow-right::before{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #274277;
}
.round-arrow-right::after{
      left: 8px;
      box-sizing: border-box;
      width: 3px;
      height: 3px;
      border: 3px solid transparent;
      border-left: 5px solid #fff;
}

.sample5-1 {
  padding: 10px;  
}
.sample5-1::before{
  width: 25px;
  height: 25px;
  border: 5px solid;
  border-color: #274277 #274277 transparent transparent;
  transform: rotate(45deg);
}

@media screen and (max-width: 428px) {
  .sample5-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
  .sample5-1::before{
    width: 25px;
    height: 25px;
    border: 5px solid;
    border-color:  transparent transparent #274277 #274277;
    transform: rotate(-45deg);
  }
}