<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title"></h1><br>
        <%= month_calendar events: @body_weights do |date, events| %>
          <%= link_to date.day, user_path(current_user, bodyweight_id: @bodyweight, start_time: date, start_date: @first_day) %>
          <% events.each do |event| %>
            <div>
              <% if event.body_weight.present? %>
                <%= event.body_weight %>kg
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
<div></div>