
<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="#"></a>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    
    
    <!-- sidebar-menu  -->
    <div class="sidebar-menu">
      <ul>
        <li>
          <%= link_to(user_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
            <div>
              <i class="fas fa-home"></i>
              <span>HOME</span>
              
            </div>
          <% end %>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-utensils"></i>
            <span>Meal</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-running"></i>
            <span>Exercise</span>
          </a>
        </li>
        <li>
          <a>
            <i class="fas fa-dumbbell"></i>
            <span>Traning</span>
          </a>
        </li>
        <div>
          <ul>
            <li>
              <%= link_to(user_traningevents_path(current_user, start_date: Date.current.beginning_of_month, start_time: Date.current)) do %>
                <div>Events Index</div>
              <% end %>
            </li>
          </ul>
        </div>
        <li>
          <a href="#">
            <i class="fas fa-cog"></i>
            <span>Setting</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  
</nav>
<!-- sidebar-wrapper  -->
  