<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title"></h1><br>
        <%= month_calendar events: @today_exercises do |date, events| %>
          <%= date.day %>
        <% end %>
    </div>
  </div>
</div>
